<template name="products">
    <div id="productModal" class="modal fade">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" runat="server" >Titulo</h4>
                </div>

                {{#autoForm  id="ProductForm" collection="Products" type=editMode doc=selectedItem template="bootstrap-3"}}
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            {{> afQuickField name='Name'}}
                        </div>

                        <div class="col-md-12">
                            {{> afQuickField name='Description' }}
                        </div>

                        <div class="col-md-12">
                            {{> afQuickField name='Price'  }}
                        </div>

                        <div class="col-md-12">
                            {{> afQuickField name='Restaurant' options=optionvalues }}
                        </div>

                        <div class="col-md-12">
                            {{> afQuickField name='Menu' }}
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </div>
                {{/autoForm}}

            </div>
        </div>
    </div>

    <div id="datatableContainer" class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Alimentos y/o Productos <small>Listado</small>
                </h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary newRestaurant">Nuevo Restaurante</button>
                </div>
                <div class="panel-body">
                    {{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject class="table table-bordered table-hover table-condensed" }}
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
        </div>
    </div>
</template>